<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Sample Table</h3>
        <table class="table table-bordered table-hover table-striped">
            <div class="panel-body">
                <div class "table-responsive">
                    <tr>
                        <th>asda</th>
                        <th>wxasd</th>
                        <th>awxdasd/th>
                            <th>asd</th>
                            <th>Dasdxas</th>
                            <th>Psdxw</th>
                            <th>blah</th>
                            </thead>
                    </tr>
                </div>
            </div>
        </table>
    </div>
</div>