<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Sample Bank</h3>
        <table class="table table-bordered table-hover table-striped">
            <div class="panel-body">
                <div class "table-responsive">
                    <tr>
                        <th ng-click="orderByMe('brand')">Brand</th>
                        <th ng-click="orderByMe('type')">Type</th>
                        <th ng-click="orderByMe('year')">Year</th>
                        <th ng-click="ordeByMe('mileage')">Mileage</th>
                        <th ng-click="oderByMe('price')">Price</th>
                        <th ng-click="orderByMe('fuel')">Fuel</th>
                   
                        </thead>
                    </tr>
                    <tr ng-repeat="x in names | orderBy:myOrderBy">
                        <td>{{x.brand}}</td>
                        <td>{{x.type}}</td>
                        <td>{{x.year}}</td>
                        <td>{{x.mileage}}</td>
                        <td>{{x.price}}</td>
                        <td>{{x.fuel}}</td>
                </div>
            </div>
        </table>
    </div>
</div>